@media (min-width: 992px) {
	.lvlBlock.isCover .image img + img {
		display: none;
	}
}

@media (orientation: portrait) {
	.lvlBlock.isCover .image img {
		display: block;
	    max-width: 100%;
	    height: auto;
	}
}

  @media (min-width: 992px) {
    .langEN .aboutCover .titleText .isHL1 {
      font-size: 70px; } }