.coming_soon {
	background-image: url(../img_v2/coming_soon.jpg);
    background-repeat: no-repeat;
    background-size: 1920px auto;
    background-position: 50% 0;
}

.coming_soon .row {
	height: 1080px;
}

.mobile {
	display: none;
}
.desktop {
	display: block;
	height: 1080px;
}

map {
	cursor: ns-resize;
}

@media (max-width: 1024px) {

	.mobile {
		display: block;
	}
	.desktop {
		display: none;
	}

	.coming_soon .row {
		height: auto;
	}
}